//  Display Utility




//  Dependencies:
//    Settings.Default
//    Settings.Breakpoint




$iota-display                           : true;
$iota-display--res                      : false !default;
$iota-display-block-namespace           : 'block';
$iota-display-hidden-namespace          : 'hidden';
$iota-display-hidden-visually-namespace : 'hidden-visually';
$iota-display-inline-namespace          : 'inline';
$iota-display-inline-block-namespace    : 'inline-block';




.#{$iota-utility-namespace}#{$iota-display-block-namespace} {
  display: block !important;
}

.#{$iota-utility-namespace}#{$iota-display-hidden-namespace} {
  display: none !important;
}

.#{$iota-utility-namespace}#{$iota-display-hidden-visually-namespace} {
  position: absolute;
  overflow: hidden;
  width:  1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.#{$iota-utility-namespace}#{$iota-display-inline-namespace} {
  display: inline !important;
}

.#{$iota-utility-namespace}#{$iota-display-inline-block-namespace} {
  display: inline-block !important;
}




// Responsive Display Utilities

@if ($iota-display--res == true) {

  @each $name, $size in $iota-breakpoint-sizes {

    @media #{$size} {
    
      .#{$iota-utility-namespace}#{$iota-display-block-namespace}\@#{$name} {
        display: block !important;
      }

      .#{$iota-utility-namespace}#{$iota-display-hidden-namespace}\@#{$name} {
        display: none !important;
      }

      .#{$iota-utility-namespace}#{$iota-display-hidden-visually-namespace}\@#{$name} {
        position: absolute;
        overflow: hidden;
        width:  1px;
        height: 1px;
        padding: 0;
        border: 0;
        clip: rect(1px, 1px, 1px, 1px) !important;
      }

      .#{$iota-utility-namespace}#{$iota-display-inline-namespace}\@#{$name} {
        display: inline !important;
      }

      .#{$iota-utility-namespace}#{$iota-display-inline-block-namespace}\@#{$name} {
        display: inline-block !important;
      }

    }

  }
  
}
